/.installed.cfg
/.build/
*.pyc
*CRDPPF.pdf
*.egg-info/
/MANIFEST
/tile_date.yaml
/crdppfportal/static/public/temp_files/*.png
/crdppfportal/static/public/temp_files/*.xml
/crdppfportal/static/public/pdf/*.pdf
/crdppfportal/static/public/reglements/
*.pdf
/.env
